@model IEnumerable<Movies.Models.Admin>

@{
    ViewBag.Title = "showalladmins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red">All Admins</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>



            <td class="col-md-3">
                @{ if ((int)Session["UserId"] == 5)
                    {
                        @Html.ActionLink("Delete", "deleteAdmin", new { id = item.Id }, new { @class = "btn btn-danger " })
                        <p style="display:inline-block">|</p>
                        @Html.ActionLink("Edit", "editAdmin", new { id = item.Id }, new { @class = "btn btn-primary" })

                    }
                }

            </td>
        </tr>
    }

</table>








