
@model Movies.Models.USER


@{
    ViewBag.Title = "editAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:red">Edit My Account</h3>






@using (Html.BeginForm("editAccount", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{@Html.AntiForgeryToken()

<hr />


<div class="form-horizontal" style="margin-left:24%;border-radius:60px;padding-left:13%;padding-top:5%;width:50%;border-style:solid; display:inline-block;">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">

        @Html.LabelFor(model => model.Name)

        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


    </div>
















    <div class="form-group">

        @Html.LabelFor(model => model.Email)

        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", onchange = "UserCheck()" })
        <div id="di"></div>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


    </div>


    <div class="form-group">

        @Html.LabelFor(model => model.currentPassword)

        @Html.TextBoxFor(model => model.currentPassword, new { @class = "form-control", type = "password" })
        <div style="color:red;word-wrap: break-word; width:60%">
            -You Must Provide your current Password here
            to apply any changes
        </div>

    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.Password)

        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">


        @Html.LabelFor(model => model.ConfirmPassword)

        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">
        @*@{ Html.EnableClientValidation(false); }*@
        @Html.LabelFor(model => model.file3)

        @Html.TextBoxFor(model => model.file3, new { type = "file", id = "img" })



    </div>





    <div class="form-group">
        <div class="col-md-offset-1 col-md-10" style="padding:5%;">
            <input id="edit" onclick="pass()" runat="server" type="submit" value="Edit" class="btn btn-primary" style="width:150px;height:55px;" />
        </div>
    </div>







    <div class="form-group" style="visibility:hidden">


        @Html.LabelFor(model => model.ImagePath)

        @Html.TextBoxFor(model => model.ImagePath)


    </div>







</div>

}
<script>
    function pass() {


        $("#pass2").val() = $("#pass").val();






    }



    function UserCheck() {


        $.post("@Url.Action("emailcheck", "Home")",
            {
                Email: $("#email").val()
            },
            function (data) {
                if (data == 1) {

                    $("#di").html('<font color="Red">This Email is already Exist.Try Another One.</font>');
                    $("#email").css("border-color", "Red");
                } else $("#di").html(""); $("#email").css("border-color", "none");

            });


    }







</script>